<div class="table-wrapper">
    <div class="table-header row-item">
        <div class="num">num</div>
        <div>name</div>
        <div>avatar</div>
    </div>
    <div (click)="pickFavorit(item)" class="tablecontent row-item" *ngFor="let item of (list | async); index as i">
        <div class="num">{{i + 1}}.</div>
        <div class="name">{{item.name}}</div>
        <div class="right-side">
            <div class="like-area">
                <mat-icon aria-hidden="false" aria-label="Example home icon">
                    thumb_up
                </mat-icon>
            </div>
            <app-pokemon-image [counter]="i + 1"></app-pokemon-image>
        </div>
        
    </div>
</div>