.header-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.icon-wrapper {
    margin: 0 15px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: aqua;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}