<div class="main-wrapper">
    <div class="head">
        <div class="name">{{name}}</div>
        <app-pokemon-image [counter]="id"></app-pokemon-image>
    </div>
    <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              type
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>{{type}}</p>
        </mat-expansion-panel>
        <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title>
                evaluation
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
                  <ng-container *ngFor="let item of details?.chain">
                        <div class="ev-item" [ngClass]="{'me': item.isMe}">
                            {{item.name}}
                            <app-pokemon-image [counter]="item.id"></app-pokemon-image>
                        </div>
                         
                      <mat-divider></mat-divider>
                  </ng-container>
            </div>
          </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              moves
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <mat-list>
                <ng-container *ngFor="let item of moevs">
                    <mat-list-item>{{item.move.name}}</mat-list-item>
                    <mat-divider></mat-divider>
                </ng-container>
              </mat-list>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title>
                location
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <mat-list>
                  <ng-container *ngFor="let item of details.location">
                      <mat-list-item>{{item}}</mat-list-item>
                      <mat-divider></mat-divider>
                  </ng-container>
                </mat-list>
            </div>
          </mat-expansion-panel>
        <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-title>
                games index with version name
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div>
              <mat-list>
                  <ng-container *ngFor="let item of games">
                        <mat-list-item>
                           index: {{item.game_index}}
                        </mat-list-item>
                        <mat-list-item>
                            version name:{{item.version.name}}
                         </mat-list-item>
                      <mat-divider></mat-divider>
                  </ng-container>
                </mat-list>
            </div>
        </mat-expansion-panel>
      </mat-accordion>
</div>
